/* Weather.css */

.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.weather-card {
  width: 90%;
  max-width: 600px; /* Maximum width for larger screens */
  background-color: #f0f4f8;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 1rem;
  background-image: url(/public/images/sky-design-blue-background-vector-illustration_24908-47974.avif);
  background-size: cover;
  background-position: center;
  color: rgb(23, 21, 21);
}

.weather-content {
  display: flex;
  flex-direction: column-reverse; /* Change the direction of the flex items */
}

.weather-info {
  flex: 1;
}

.weather-image {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* Align the image to the right */
  align-items: flex-start; /* Align the image to the top */
}

.weather-icon {
  width: 80px; /* Reduce the icon size for responsiveness */
}

.weather-details-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* Reduced gap for better mobile experience */
}

.weather-detail {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .weather-card {
    max-width: 600px;
  }

  .weather-icon {
    width: 100px;
  }
}

@media screen and (min-width: 992px) {
  .weather-card {
    max-width: 700px;
  }

  .weather-icon {
    width: 120px;
  }
}
